
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
  layout:decorator="template1">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>list rendezvous</title>
 <link rel="stylesheet" type="text/css"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
  th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css"
  href="css/style.css"
  th:href="@{css/style.css}"/>
</head>
<body>
<p></p>
<div class="container">
<div class="panel panel-default">
<div class="panel-heading">Saisie d'un Rendez_vous</div>
<div class="panel-body"> 
<form th:action="@{save}" method="post">
<div class="form-group">
<label class="control-label">Date</label>
<input class="form-control" type="date" name="date_rdv" th:value="${rdv?.date_rdv}" />

</div>
<div class="form-group">
<label class="control-label">Heure</label>
<input class="form-control" type="text" name="horaire_rdv" th:value="${rdv?.horaire_rdv}" />

</div>
<div class="form-group">
<label class="control-label">Statut</label>
<div>
	<input type="radio" name ="Statut" value="consultation" checked="checked" />
	<label>Consultation</label>
    <input type="radio" name ="Statut" value="controle"/>
	<label>Controle</label>
	</div>								
</div>
<div class="form-group">
<label class="control-label">Patient</label>
<input class="form-control" type="text" name="patient" th:value="${rdv?.patient}" />

</div>
<div>
<button type="submit" class="btn btn-primary">Save</button>
</div>
</form>
</div>
</div>
</div>


</body>
</html>
